@import url('./app.css');

:root {
    --background-color: #fff;
    --text-color: #121416d8;
    --link-color: #543fd7;
}

html[data-theme="light"] {
    --background-color: #fff;
    --text-color: #121416d8;
    --link-color: #543fd7;
}

html[data-theme="dark"] {
    --background-color: #212a2e;
    --text-color: #F7F8F8;
    --link-color: #828fff;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
}

.toggle-buttons button.selected {
    background-color: purple;
}

.toggle-buttons button:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.toggle-buttons button:last-of-type {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}