#container {
    display: flex;
    flex-direction: column;
}

#searchbar {
    padding: 1rem;
    display: flex;
    height: 50px;
    position: relative;
}

#searchbar .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

#searchbar .icon:first-of-type {
    left: 2rem;
}

#searchbar .icon:last-of-type {
    right: 2rem;
    cursor: pointer;
}

#searchbar input {
    width: 100%;
    margin: 0;
    padding: 1rem 1rem 1rem 3rem;
    font-size: inherit;
    line-height: 1;
    font-family: inherit;
    color: inherit;
    background-color: var(--bg-lighter);
    box-shadow: var(--box-shadow);
    border: 0px none;
    appearance: none;
    outline: currentcolor none 0px;
    border-radius: 2rem;
}

#searchbar input:focus {
    background-color: var(--bg3);
}

#filters {
    display: flex;
    height: 3rem;;
    /* height: 0;
    overflow: hidden;
    transition: height 300ms ease-in-out; */
}