#pack {
    display: flex;
    flex-direction: column;
    flex: auto;
    border: solid red;
}

#pack .list {
    flex: auto;
    display: flex;
    flex-direction: column;
    border: solid blue;
}

#pack .list .list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

#pack .list .list-item:hover {
    background-color: var(--bg1);
}

#pack .list .list-item:hover .icon {
    visibility: visible;
}

#pack .list .list-item .icon {
    display: flex;
    cursor: pointer;
    color: var(--red);
    visibility: hidden;
}

#pack .list .list-item .icon:active {
    opacity: 0.8;
}

#pack .list .list-item .content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#pack .list .list-item .content .detail-row {
    font-size: 0.75;
    display: flex;
    gap: 2rem;
}