@import url('./components/Home.css');
@import url('./components/SearchBar.css');
@import url('./components/Toolbar.css');
@import url('./components/Pack.css');
@import url('./components/Login.css');
@import url('./components/ThemeSwitcher.css');
@import url('./components/CustomSlider.css');
@import url('./components/CheckboxList.css');
@import url('./components/Checkbox.css');
@import url('./components/Card.css');
@import url('./components/Stats.css');
@import url('./components/Gauge.css');
@import url('./components/Stars.css');
@import url('./components/Modal.css');
@import url('./components/MealName.css');
@import url('./components/NewMeal.css');
@import url('./components/Select.css');
@import url('./components/Text.css');

:root {
    --box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
        0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    --box-shadow-top: 0px -1px 3px 0px rgba(0, 0, 0, 0.1),
        0px -1px 2px 0px rgba(0, 0, 0, 0.06);
    --box-shadow-deep: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

body[data-theme='dark'] {
    --bg: var(--bg0);
    --bg-contrast: var(--bg0_lighter);
    --fg: var(--fg1);
    --light-text: var(--fg4);
    
    --primary: var(--purple);
    --accent: var(--aqua);
    --success: var(--green);
    
    --badge: var(--ct-orange);
    --calories: var(--ct-orange);
    --checkbox: var(--accent);
    --inverse-checkbox: var(--orange);
    --meal-name-custom: var(--accent);
    --meal-name-link: var(--primary);
    --stars: var(--ct-yellow);

    --bg-input: var(--bg1);
    --input-border: var(--light-text);
    --option-hover: var(--bg2);

    --red: #cc241d;
    --ct-red: #fb4934;
    --orange: #d65d0e;
    --ct-orange: #fe8019;
    --yellow: #d79921;
    --ct-yellow: #fabd2f;
    --green: #98971a;
    --ct-green: #b8bb26;
    --aqua: #689d6a;
    --ct-aqua: #8ec07c;
    --blue: #458588;
    --ct-blue: #83a598;
    --purple: #b16286;
    --ct-purple: #d3869b;
    --grey: #928374;
    --ct-grey: #a89984;

    --bg0_darker: #1d2021;
    --bg0_lighter: #32302f;
    --bg0: #282828;
    --bg1: #3c3836;
    --bg2: #504945;
    --bg3: #665c54;
    --bg4: #7c6f64;
    --fg4: #a89984;
    --fg3: #bdae93;
    --fg2: #d5c4a1;
    --fg1: #ebdbb2;
    --fg0: #fbf1c7;
}

body[data-theme='light'] {
    --bg: var(--bg0);
    --bg-contrast: var(--bg1);
    --fg: var(--fg1);
    --light-text: var(--fg3);
    
    --primary: var(--purple);
    --accent: var(--aqua);
    --success: var(--green);
    
    --badge: var(--orange);
    --calories: var(--orange);
    --checkbox: var(--accent);
    --inverse-checkbox: var(--orange);
    --meal-name-custom: var(--accent);
    --meal-name-link: var(--primary);
    --stars: var(--yellow);

    --bg-input: var(--bg1);
    --input-border: var(--light-text);
    --option-hover: var(--bg2);

    --red: #aa0982;
    --ct-red: #f16b66;
    --orange: #f08522;
    --yellow: #daaa01;
    --green: #98bd32;
    --aqua: #0c969b;
    --blue: #4876d6;
    --purple: #994cc3;
    --bg0: #fbfbfb;
    --bg1: #f0f0f0;
    --bg2: #d9d9d9;
    --bg3: #93a1a1;
    --bg4: #849191;
    --fg4: #797987;
    --fg3: #666575;
    --fg2: #535264;
    --fg1: #403f53;
    --fg0: #3a394b;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--fg);
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent !important;
}

*::-webkit-scrollbar-thumb {
    background: var(--bg4);
}

* {
    scrollbar-width: auto;
    scrollbar-color: #7c6f64 transparent;
}

button {
    border: 0;
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: transparent;
    color: currentColor;
}

button:active {
    opacity: 0.8;
}

@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 300;
    src: local(''), url('./fonts/fira-sans-v11-latin-300.woff2') format('woff2'),
            url('./fonts/fira-sans-v11-latin-300.woff') format('woff');
}

@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 300;
    src: local(''),
        url('./fonts/fira-sans-v11-latin-300italic.woff2') format('woff2'),
        url('./fonts/fira-sans-v11-latin-300italic.woff') format('woff');
}

@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('./fonts/fira-sans-v11-latin-regular.woff2') format('woff2'),
        url('./fonts/fira-sans-v11-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('./fonts/fira-sans-v11-latin-500.woff2') format('woff2'),
        url('./fonts/fira-sans-v11-latin-500.woff') format('woff');
}

@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 400;
    src: local(''),
        url('./fonts/fira-sans-v11-latin-italic.woff2') format('woff2'),
        url('./fonts/fira-sans-v11-latin-italic.woff') format('woff');
}
