#home {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    bordeR: solid red;
}

#home .drawer-wrapper {
    display: flex;
    position: relative;
    height: 100%;
}

#home .drawer {
    overflow: hidden;
    width: 0;
    display: flex;
    border-left: solid 1px var(--bg-contrast);
    position: relative;
}

#home .drawer.open {
    width: 35%;
}

#home .dragholder {
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
}

#home .dragholder:hover {
    cursor: move;
}

#home .main {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
}

#home .cards {
    padding: 2rem 2rem calc(2rem + 50px) 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 350px;
    gap: 1rem;
}
