#new-meal {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: auto;
}

#new-meal .main {
    flex: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
}

#new-meal .info {
    margin: auto;
    padding: 2rem 0 1rem;
    box-sizing: border-box;
    font-style: italic;
    font-size: 1.2rem;
    color: var(--info);
}

#new-meal .form-container {
    flex: auto;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    gap: 2rem;
}

@media screen and (max-width: 768px) {
    #new-meal .form-container {
        flex-wrap: wrap;
    }
}

#new-meal .form-container > * {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#new-meal .form-container > * > .header {
    padding-left: 1rem;
}

#new-meal .form-field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#new-meal .hint {
    opacity: 0.6;
    padding: 0 0.5rem;
    font-size: 0.875rem;
    font-style: italic;
}

#new-meal .hint.error {
    color: var(--red);
    opacity: 1;
}

#new-meal .toolbar {
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow-top);
    background-color: var(--bg);
    height: 61.4px;
    display: flex;
}

#new-meal .toolbar > div:first-of-type {
    display: flex;
}

#new-meal .toolbar > div:first-of-type button {
    border-radius: 0;
    padding: 1rem;
}

#new-meal .toolbar > div:first-of-type button:active,
#new-meal .toolbar > div:first-of-type button:hover {
    background-color: var(--primary);
    color: var(--bg);
}

#new-meal .toolbar > div:last-of-type button {
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 1.1rem;
    background-color: var(--accent);
    color: var(--bg);
}

#new-meal .feedback {
    font-size: 1.1rem;
}

#new-meal .toolbar .ok {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--success);
}

#new-meal .toolbar .error {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--red);
}
