.slider-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.slider-container .slider-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.MuiSlider-thumb {
    background-color: var(--purple) !important;
    box-shadow: var(--box-shadow) !important;
}

.MuiSlider-track {
    border-color: var(--purple) !important;
    background-color: var(--purple) !important;
}

.MuiSlider-rail {
    background-color: var(--purple) !important;
}
