#home {
    display: flex;
    flex-direction: column;
    flex: auto;
}

#home .content {
    display: flex;
    position: relative;
    flex: auto;
}

#home .content #cards {
    width: 100%;
    padding: 0.5rem 1rem;
    display: grid;
}

#home .content .drawer {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-lighter);
    border-radius: 0.25rem;
    width: 0;
    overflow: hidden;
    transition: width 300ms ease-in-out;
}

#home .content .drawer.open {
    width: 20%;
}

