#search-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

#search-container .filter-drawer.open {
    height: 40vh;
    border-bottom: solid 1px var(--bg-lighter);
}

#search-container .filter-drawer {
    padding: 0 1rem;
    height: 0;
    overflow: hidden;
    flex: auto;
    display: flex;
    justify-content: space-between;
    transition: height 200ms ease-in-out;
}

#search-container .filter-drawer .sliders,
#search-container .filter-drawer .checkboxes {
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
}

#search-container .filter-drawer .sliders .filter-group,
#search-container .filter-drawer .checkboxes .filter-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#search-container .filter-drawer .checkboxes {
    width: 70%;
    gap: 1rem;
}

#search-container .filter-drawer .checkboxes .filter-group {
    flex: auto;
}

#search-container .filter-drawer .sliders {
    flex-direction: column;
    width: 25%;
    gap: 2rem;
}

#search-container .searchbar {
    padding: 0 1rem;
    display: flex;
    position: relative;
}

#search-container .searchbar .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

#search-container .searchbar .icon:first-of-type {
    left: 2rem;
}

#search-container .searchbar .icon:last-of-type {
    right: 2rem;
    cursor: pointer;
}

#search-container .searchbar input {
    width: 100%;
    margin: 0;
    padding: 1rem 1rem 1rem 3rem;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background-color: var(--bg-lighter);
    box-shadow: var(--box-shadow);
    border: 0px none;
    appearance: none;
    outline: currentcolor none 0px;
    border-radius: 2rem;
}

#search-container .searchbar input:focus {
    background-color: var(--bg3);
}
