#search-container {
    position: relative;
    padding: 1rem;
}

#search-container .searchbar {
    padding: 0 1rem;
    display: flex;
    position: relative;
}

#search-container .searchbar .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

#search-container .searchbar .icon:first-of-type {
    left: 2rem;
}

#search-container .searchbar .icon:last-of-type {
    right: 2rem;
    cursor: pointer;
}

#search-container .searchbar input {
    width: 100%;
    margin: 0;
    padding: 1rem 1rem 1rem 3rem;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background-color: var(--bg-lighter);
    box-shadow: var(--box-shadow);
    border: 0px none;
    appearance: none;
    outline: currentcolor none 0px;
    border-radius: 2rem;
    transition: border-radius 150ms ease-in 40ms;
}

#search-container .searchbar input:focus {
    background-color: var(--bg3);
}

#search-container .filters {
    padding: 0 1rem;
    height: 0;
    overflow: hidden;
    transition: height 150ms ease-out;
}

@media screen and (min-width: 1025px) {
    #search-container .filters.open {
        height: 20vh;
    }   
}

@media screen and (max-width: 1024px) {
    #search-container .filters.open {
        height: 100vh;
    }
}

#search-container .filters .filters-content {
    border-bottom: solid 1px var(--bg-lighter);
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}