#search-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

#search-container .filter-drawer.open {
    height: 40vh;
    border-bottom: solid 1px var(--bg-lighter);
}

#search-container .filter-drawer {
    padding: 0 1rem;
    height: 0;
    overflow: hidden;
    flex: auto;
    display: flex;
    justify-content: space-between;
    transition: height 200ms ease-in-out;
}

#search-container .filter-drawer .sliders,
#search-container .filter-drawer .checkboxes {
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
}

#search-container .filter-drawer .sliders .filter-group,
#search-container .filter-drawer .checkboxes .filter-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#search-container .filter-drawer .checkboxes {
    width: 70%;
    gap: 1rem;
}

#search-container .filter-drawer .checkboxes .filter-group {
    flex: auto;
}

#search-container .filter-drawer .sliders {
    flex-direction: column;
    width: 25%;
    gap: 2rem;
}

#search-container .searchbar {
    padding: 0 1rem;
    display: flex;
    position: relative;
}

#search-container .searchbar .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2rem;
    display: flex;
    align-items: center;
    opacity: 0.4;
}

#search-container .searchbar input {
    appearance: none;
    border: none;
    outline: none;
    margin: 0;
    padding: 1rem 1rem 1rem 3rem;
    font-size: inherit;
    font-family: inherit;
    width: 100%;
    color: var(--fg);
    background-color: var(--bg-lighter);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

#search-container .searchbar input:focus {
    background-color: var(--bg3);
}

#search-container .searchbar input:placeholder {
    color: var(--fg);
    opacity: 0.4;
}

#search-container .searchbar input + button {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: var(--bg-lighter);
    color: var(--fg);
}

#search-container .searchbar input + button:hover {
    background-color: var(--bg3);
    color: var(--ct-aqua) !important;
}