.card {
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow-deep);
    border-radius: 0.25rem;
    background-color: var(--bg1);
    padding: 1rem;
}

.card .card-header {
    border: solid blue;
}

.card .card-content {
    border: solid red;
}

.card.custom {
    border: dashed 2px var(--bg3);
    color: var(--fg4);
    box-shadow: none;
    cursor: pointer;
}

.card.custom:hover {
    border: none;
    color: var(--bg);
    box-shadow: var(--box-shadow-deep);
    background-color: var(--primary);
}

.card.custom .card-content {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}