* {
    /* tag colors */
    fill: #e45d25;
    fill: #70a4bd;
    fill: #9faa39;
    fill: #1e2f4a;
    fill: #bcc1c9;

    /* red */
    fill: #df2b27;
    fill: #b33525;
    fill: #b6262c;
    fill: #6c2815;

    /* pink */
    fill: #e97780;
    fill: #e12369;
    fill: #b72353;

    /* purple */
    fill: #ac3f6f;
    fill: #4c153e;

    /* blue */
    fill: #89b1da;
    fill: #1290ca;
    fill: #058095;

    /* aqua */
    fill: #4bbcca;
    fill: #7fc8bf;

    /* green */
    fill: #89b79a;
    fill: #37a749;
    fill: #018155;

    /* yellow */
    fill: #f3a744;
    fill: #4d4e42;
}
