.card {
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow-deep);
    border-radius: 0.25rem;
    background-color: var(--bg-contrast);
    position: relative;
}

.card-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
}

.card .select-icon {
    cursor: pointer;
}

.card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.375rem;
    padding: 1rem 1rem 0.5rem 1rem;
    box-sizing: border-box;
}

.card-header > .name-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.card-header .brand {
    font-size: 0.875rem;
    color: var(--light-text);
}

.card-content {
    height: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    overflow: auto;
}

.card-content .list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.card-content .list .list-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.875rem;
}
