.card {
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow-deep);
    border-radius: 0.25rem;
    background-color: var(--bg-contrast);
    position: relative;
}

.card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.375rem;
    padding: 1rem;
    box-sizing: border-box;
}

.card-header > .name-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.card-header .brand {
    font-size: 0.875rem;
    color: var(--light-text);
}

.card-content {
    flex: auto;
    padding: 0 1rem;
    box-sizing: border-box;
    overflow: auto;
    display: flex;
}

.card-content .list-container {
    display: flex;
    flex: auto;
    gap: 0.6rem;
}

.card-content .list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.card-content .list .list-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card-content .list .list-item > *:first-child {
    min-width: 20px;
}

.card-footer {
    display: flex;
    padding: 0 0.5rem 0.5rem 0.5rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-end;
}

.card-footer button:hover {
    color: var(--accent);
}