.checkbox {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: currentColor;
    font-family: inherit;
    line-height: 1.5;
    flex: auto;
}

.checkbox > span {
    cursor: pointer;
}

.checkbox > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin-left: 1px;
    border: solid 2px;
    border-radius: 4px;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

/* Custom checkmark - tick */
.checkbox:not(.inverse) > span::after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 1px;
    width: 10px;
    height: 5px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
}

/* Custom checkmark - cross */
.checkbox.inverse > span::before, 
.checkbox.inverse > span::after {
    content:'';
    position:absolute;
    top: 11px;
    left: 3px;
    width: 14px;
    height: 2px; /* cross thickness */
    background-color: transparent;
    transform: translate(3px, 4px);
}

.checkbox.inverse > span:before {
    transform:rotate(45deg);
}

.checkbox.inverse > span:after {
    transform:rotate(-45deg);
}

/* Make checkmark visible when checked or indeterminate */
.checkbox > input:checked + span::after,
.checkbox > input:indeterminate + span::after {
    border-color: var(--bg);
}

.checkbox.inverse > input:checked + span::before,
.checkbox.inverse > input:checked + span::after {
    background-color: var(--bg);
}

/* Change checkmark to a dash when indeterminate */
.checkbox > input:indeterminate + span::after {
    border-left: none;
    transform: translate(4px, 3px);
}

/* Disabled styles */
.checkbox > input:disabled {
    cursor: initial;
}

.checkbox > input:disabled + span {
    cursor: initial;
}

.checkbox > input:disabled {
    border-color: currentColor;
}

.checkbox > input:checked:disabled,
.checkbox > input:indeterminate:disabled {
    border-color: transparent;
    background-color: currentColor;
}