.checkbox-list {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    height: 100%;
    width: 100%;
}

.checkbox-list .item-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
