#home {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

#home .drawer-wrapper {
    display: flex;
    position: relative;
    height: 100%;
    border: solid red;
}

#home .drawer {
    overflow: hidden;
    width: 0;
    display: flex;
    border-left: solid 1px var(--bg-contrast);
}

#home .drawer.open {
    width: 35%;
}

#home .main {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    border: solid blue;
}

#home .cards {
    padding: 2rem 2rem calc(2rem + 50px) 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: 400px;
    gap: 1rem;
}
