#modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
}

.modal-main {
    margin: 10rem auto auto auto;
    height: 30rem;
    width: 50rem;
    z-index: 4;
    background-color: var(--bg-contrast);
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    box-shadow: 0 11px 15px -7px #0003, 0 24px 38px 3px #00000024,
        0 9px 46px 8px #0000001f;
    padding-bottom: 1rem;
    box-sizing: border-box;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.modal-content {
    flex: auto;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    overflow: auto;
}
