#new-meal {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: auto;
}

#new-meal .main {
    flex: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: auto;
}

.form-header {
    height: 61.4px;
    background-color: var(--bg-contrast);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-header div {
    font-size: 1.2rem;
    margin-left: 2rem;
}

.form-header button {
    height: 100%;
    padding: 1rem;
    border-radius: 0;
    font-size: 1rem;
    background-color: var(--accent);
    color: var(--bg);
}

/* .form-header button:hover {
    background-color: var(--accent);
    color: var(--bg);
} */

.form-container {
    flex: auto;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.hint {
    opacity: 0.6;
    padding: 0 0.5rem;
    font-size: 0.875rem;
}

.optional {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    color: var(--light-text);
    margin: 1.2rem 0;
}

.optional > .hr {
    border-top: solid 1px var(--light-text);
    width: 100%;
}

.optional > div:not(.hr) {
    font-style: italic;
}

.toolbar {
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    box-shadow: var(--box-shadow-top);
    background-color: var(--bg);
    height: 61.4px;
    display: flex;
}

.toolbar button {
    border-radius: 0;
    padding: 1rem;
}

.toolbar button:active,
.toolbar button:hover {
    background-color: var(--primary);
    color: var(--bg);
}
