.pack-item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 1rem 1rem 1rem 0.5rem;
    box-sizing: border-box;
}

.pack-item.even {
    background-color: var(--bg1);
}

.pack-item:last-child {
    border-bottom: solid 1px var(--bg1);
}

/* count */
.pack-item .count {
    position: relative;
    user-select: none;
}

.pack-item .count input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: solid 1px var(--bg-contrast);
    border-radius: 2px;
    background-color: var(--bg-contrast);
    color: var(--light-text);
    font-size: 1rem;
    font-family: inherit;
    padding: 0.5rem 0;
    box-sizing: border-box;
    text-align: center;
    width: 70px;
}

.pack-item .count:not(:hover) input {
    background-color: unset;
    border: 0;
}

.pack-item .count input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.pack-item .count .button {
    position: absolute;
    height: 100%;
    cursor: pointer;
    visibility: hidden;
}

.pack-item .count .button.disabled {
    pointer-events: none;
    opacity: 0.3;
}

.pack-item .count:hover .button {
    visibility: visible;
}

.pack-item .count .button.increment {
    right: 0.5rem;
}

.pack-item .count .button.decrement {
    left: 0.5rem;
}

/* meal data */
.pack-item .data {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    flex: auto;
}

.pack-item .data .detail-row {
    font-size: 0.75rem;
    color: var(--light-text);
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

/* delete icon */
.pack-item:hover .icon {
    visibility: visible;
}

.pack-item .icon {
    display: flex;
    cursor: pointer;
    visibility: hidden;
    color: var(--light-text);
}

.pack-item .icon:hover {
    color: var(--fg);
}

.pack-item .icon:active {
    opacity: 0.8;
}
