#searchbar {
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
}

#searchbar .top-bar {
    display: flex;
}

#searchbar .top-bar .input-wrapper {
    position: relative;
    display: flex;
    flex: auto;
}

#searchbar .top-bar .input-wrapper .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1rem;
    display: flex;
    align-items: center;
    color: var(--light-text);
}

#searchbar .top-bar .input-wrapper .results-badge {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1.2rem;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: 'Fira Mono', monospace;
    color: var(--light-text);
}

#searchbar .top-bar input {
    appearance: none;
    border: none;
    outline: none;
    margin: 0;
    padding: 1.2rem 1.2rem 1.2rem 3.5rem;
    font-size: 1.2rem;
    font-family: inherit;
    width: 100%;
    color: var(--fg);
    background-color: var(--bg-contrast);
}

#searchbar .top-bar input::placeholder {
    color: var(--light-text);
}

#searchbar .top-bar input:focus {
    background-color: var(--bg2);
}

#searchbar button {
    border-radius: 0;
    padding: 1rem;
    background-color: var(--bg-contrast);
}

#searchbar button.open,
#searchbar button:active,
#searchbar button:hover {
    background-color: var(--primary);
    color: var(--bg);
}

#searchbar .filters {
    padding: 0 1rem;
    height: 0;
    overflow: hidden;
    flex: auto;
    display: flex;
    transition: height 200ms ease-in-out;
}

#searchbar .filters.open {
    height: 40vh;
    border-bottom: solid 1px var(--bg-contrast);
}

#searchbar .filters .sliders,
#searchbar .filters .checkboxes {
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
}

#searchbar .filters .filter-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#searchbar .filters .checkboxes {
    flex: auto;
    gap: 2rem;
}

#searchbar .filters .checkboxes .filter-group:not(:nth-of-type(3)) {
    width: 10rem;
}

#searchbar .filters .checkboxes .filter-group:nth-of-type(3) {
    width: 15rem;
}

#searchbar .filters .checkboxes .filter-group > *:nth-child(2) {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#searchbar .filters .sliders {
    flex-direction: column;
    width: 18rem;
    gap: 2rem;
}
