#select-container {
    position: relative;
}

#select-container::after {
    content: '';
    display: block;
    position: absolute;
    right: 1rem;
    bottom: 50%;
    width: 6px;
    height: 6px;
    border: solid 2px;
    border-radius: 0.15rem;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: var(--light-text);
    border-bottom-color: var(--light-text);
    transform: rotate(45deg) translateY(50%);
    cursor: pointer;
}

#select-container.open::after {
    border-right-color: var(--primary);
    border-bottom-color: var(--primary);
}

.fake-select {
    position: relative;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom: solid 1px var(--input-border);
    background-color: var(--bg-input);
    padding: 2.5rem 1rem 1rem 1rem;
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;
    transition: border-bottom 150ms ease-in-out;
}

#select-container.open .fake-select {
    border-bottom-color: var(--primary);
}

#select-container .select-value {
    position: absolute;
    top: 28px;
    left: 16px;
}

#select-container .label {
    position: absolute;
    top: 20px;
    left: 16px;
    pointer-events: none;
    user-select: none;
    opacity: 0.6;
    transition: color 0.2s, opacity 0.2s, font-size 0.2s, top 0.2s;
}

#select-container .label.small {
    font-size: 12px;
    top: 8px;
}

#select-container.open .label.small {
    color: var(--primary);
    opacity: 1;
}

#select-container .select-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    background-color: var(--bg-input);
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    z-index: 2;
}

#select-container .select-menu.open {
    height: auto;
}

#select-container .option {
    cursor: pointer;
    padding: 0.75rem;
    box-sizing: border-box;
    user-select: none;
}

#select-container .option:hover {
    background-color: var(--option-hover);
}
