#stars {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 0;
}

#stars > * {
    cursor: pointer;
}

#stars > .empty {
    stroke: var(--bg3);
}

#stars > .filled {
    fill: var(--stars);
    stroke: var(--stars);
}

#stars > .disabled {
    fill: var(--bg-contrast);
    stroke: var(--bg2);
    cursor: not-allowed;
}