#stats {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    box-sizing: border-box;
}

#stats .progress-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100%;
    box-sizing: border-box;
}

#stats .progress-bar-container.calories {
    color: var(--calories);
}

#stats .progress-bar-container.ounces {
    color: var(--ounces);
}

#stats .label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#stats .input-container {
    position: relative;
    user-select: none;
    width: 80px;
}

#stats .input-container input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: solid 1px var(--bg-contrast);
    border-radius: 2px;
    background-color: var(--bg-contrast);
    color: var(--light-text);
    font-size: 0.8rem;
    font-family: inherit;
    padding: 0.5rem 2rem 0.5rem 0.75rem;
    box-sizing: border-box;
    width: 100%;
    text-align: right;
}

#stats .input-container input::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#stats .input-container:not(:hover) input {
    background-color: unset;
    border-color: transparent;
}

#stats .input-container .suffix {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--light-text);
    font-size: 0.8rem;
}

#stats .progress-bar {
    height: 0.5rem;
    width: 100%;
    background-color: var(--bg-contrast);
    border-radius: 0.5rem;
    width: 400px;
}

#stats .progress-bar-fill {
    width: 0;
    transition: width 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    height: 100%;
    border-radius: 0.5rem;
    max-width: 400px;
    background-color: currentColor;
}
