#toolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 61.4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow-top);
    background-color: var(--bg);
}

#toolbar > * {
    display: flex;
    align-items: center;
    height: 100%;
}

#toolbar button {
    border-radius: 0;
    padding: 1rem;
    box-sizing: border-box;
    height: 100%;
}

#toolbar button:not(#pack-button):not(.disabled):active,
#toolbar button:not(#pack-button):not(.disabled):hover {
    background-color: var(--primary);
    color: var(--bg);
}

#toolbar button.disabled {
    background-color: var(--bg-contrast);
    color: var(--bg3);
    cursor: not-allowed;
}

#toolbar button.disabled:active {
    opacity: 1;
}

#toolbar #pack-button {
    color: var(--accent);
    width: 56px;
}

#toolbar #pack-button:hover,
#toolbar #pack-button.open {
    background-color: var(--accent);
    color: var(--bg);
}

#toolbar #pack-button > div {
    position: relative;
}

#toolbar #pack-button > div .badge {
    background-color: var(--badge);
    color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 0.75rem;
    height: 0.75rem;
    padding: 0.25rem;
    border-radius: 50%;
    position: absolute;
    top: -0.75rem;
    right: -0.75rem;
    box-shadow: var(--box-shadow);
}
