#toolbar {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    box-shadow: var(--box-shadow-top);
    background-color: var(--bg);
}

#toolbar .wrapper {
    flex: auto;
    display: flex;
    align-items: center;
    position: relative;
    height: 61.4px;
}

#toolbar .stat-container {
    margin: 0 auto;
}

#toolbar button {
    border-radius: 0;
    padding: 1rem;
}

#toolbar button:not(#pack-button):not(.disabled):active,
#toolbar button:not(#pack-button):not(.disabled):hover {
    background-color: var(--primary);
    color: var(--bg);
}

#toolbar button.disabled {
    background-color: var(--bg-contrast);
    color: var(--bg3);
    cursor: not-allowed;
}

#toolbar button.disabled:active {
    opacity: 1;
}

#toolbar .left {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

#toolbar .right {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

#toolbar #pack-button {
    color: var(--accent);
    width: 56px;
}

#toolbar #pack-button:hover,
#toolbar #pack-button.open {
    background-color: var(--accent);
    color: var(--bg);
}

#toolbar #pack-button > div {
    position: relative;
}

#toolbar #pack-button > div .badge {
    background-color: var(--badge);
    color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 0.75rem;
    height: 0.75rem;
    padding: 0.25rem;
    border-radius: 50%;
    position: absolute;
    top: -0.75rem;
    right: -0.75rem;
    box-shadow: var(--box-shadow);
}
