@import url('../pages/pantry/Pantry.css');
@import url('../pages/pantry/Toolbar.css');
@import url('../pages/pantry/Card.css');
@import url('../pages/login/Login.css');
@import url('../lib/ThemeSwitcher.css');
@import url('../lib/CustomSlider.css');
@import url('../lib/CheckboxList.css');
@import url('../lib/Checkbox.css');
@import url('../lib/Navbar.css');

:root {
    --box-shadow: 
        0px 1px 3px 0px rgba(0, 0, 0, 0.1),
        0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    --box-shadow-top:
        0px -1px 3px 0px rgba(0, 0, 0, 0.1),
        0px -1px 2px 0px rgba(0, 0, 0, 0.06);
    --box-shadow-deep: 
        0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

body[data-theme='dark'] {
    --bg: var(--bg0);
    --fg: var(--fg3);

    --primary: var(--purple);
    --accent: var(--aqua);
    --warn: var(--orange);
    --danger: var(--red);
    --black: var(--bg0);

    --red: #cc241d;
    --ct-red: #fb4934;
    --orange: #d65d0e;
    --ct-orange: #fe8019;
    --yellow: #d79921;
    --ct-yellow: #fabd2f;
    --green: #98971a;
    --ct-green: #b8bb26;
    --aqua: #689d6a;
    --ct-aqua: #8ec07c;
    --blue: #458588;
    --ct-blue: #83a598;
    --purple: #b16286;
    --ct-purple: #d3869b;
    --ct-grey: #928374;
    --grey: #a89984;
    
    --bg0: #282828; /* background */
    --bg1: #3c3836;
    --bg2: #504945;
    --bg3: #665c54;
    --bg4: #7c6f64;
    --fg0: #a89984;
    --fg1: #bdae93;
    --fg2: #d5c4a1;
    --fg3: #ebdbb2; /* text */
    --fg4: #fbf1c7;
}

body[data-theme='light'] {
    --bg: var(--bg0);
    --fg: var(--fg3);

    --primary: var(--ct-purple);
    --accent: var(--ct-aqua);
    --warn: var(--ct-orange);
    --danger: var(--ct-red);
    --black: var(--fg4);

    --red: #cc241d;
    --ct-red: #9d0006;
    --orange: #d65d0e;
    --ct-orange: #af3a03;
    --yellow: #d79921;
    --ct-yellow: #b57614;
    --green: #98971a;
    --ct-green: #79740e;
    --aqua: #689d6a;
    --ct-aqua: #427b58;
    --blue: #458588;
    --ct-blue: #076678;
    --purple: #b16286;
    --ct-purple: #8f3f71;
    --ct-grey: #928374;
    --grey: #7c6f64;
    
    --bg0: #fbf1c7; /* background */
    --bg1: #ebdbb2;
    --bg2: #d5c4a1;
    --bg3: #bdae93;
    --bg4: #a89984;
    --fg0: #7c6f64;
    --fg1: #665c54;
    --fg2: #504945;
    --fg3: #3c3836; /* text */
    --fg4: #282828;
}

body[data-theme='sierra'] {
    --bg: var(--bg0);
    --fg: var(--fg3);

    --primary: var(--orange);
    --accent: var(--green);
    --warn: var(--yellow);
    --danger: var(--red);
    --black: var(--bg0);
    
    --bg0: #1e2f4a; /* background */
    --bg1: #35445c;
    --bg2: #4b596e;
    --bg3: #626d80;
    --bg4: #788292;
    --fg0: #8f97a5;
    --fg1: #a5acb7;
    --fg2: #bcc1c9;
    --fg3: #d2d5db; /* text */
    --fg4: #e9eaed;
    
    --red: #df2b27;
    --orange: #e55815;
    --yellow: #f3a744;
    --green: #a2ad2a;
    --blue: #0c7f94;
    --ct-blue: #4bbcca;
    --purple: #ac3f6f;
    --grey: #b0b1b3;
    --black: #030301;
    
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--fg);
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
}

/* custom scrollbar */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent !important;
}

*::-webkit-scrollbar-thumb {
    background: var(--bg4);
}

* {
    scrollbar-width: auto;
    scrollbar-color: #7c6f64 transparent;
}
/* end scrollbar */

button {
    border: 0;
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: transparent;
    color: currentColor;
}

button:active {
    opacity: 0.8;
}

.tooltip {
    visibility: hidden;
    background-color: var(--fg2);
    color: var(--bg);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%);
}

.tooltip.below {
    top: 110%;
}

.tooltip.above {
    bottom: 110%;
}

.tooltip.above::before {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 50%) rotate(45deg);
    -moz-transform: translate(-50%, 50%) rotate(45deg);
    -ms-transform: translate(-50%, 50%) rotate(45deg);
    transform: translate(-50%, 50%) rotate(45deg);
    background-color: inherit;
}

.tooltip-trigger {
    position: relative;
}

.tooltip-trigger:hover .tooltip {
    visibility: visible;
}

.vr {
    height: 70%;
    border-left: solid 1px var(--bg2);
    margin: 0 0.4rem;
}

/* fira-sans-300 - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 300;
    src: local(''), url('./fonts/fira-sans-v11-latin-300.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('./fonts/fira-sans-v11-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-300italic - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 300;
    src: local(''),
        url('./fonts/fira-sans-v11-latin-300italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('./fonts/fira-sans-v11-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-regular - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('./fonts/fira-sans-v11-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('./fonts/fira-sans-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-500 - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    src: local(''), url('./fonts/fira-sans-v11-latin-500.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('./fonts/fira-sans-v11-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fira-sans-italic - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 400;
    src: local(''),
        url('./fonts/fira-sans-v11-latin-italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('./fonts/fira-sans-v11-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
