@import url('./App.css');
@import url('./Data.css');
@import url('./Home.css');
@import url('./Login.css');
@import url('./ThemeSwitcher.css');
@import url('./Toolbar.css');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

body[data-theme="light"] {
    --background-light: #FFF;
    --background: #E6E6E6;
    --background-dark: #CDCDCD;
    --text: #2a2c2d;
    --accent: #FF4B82;
}

body[data-theme="dark"] {
    --background-light: #31353a;
    --background: #2a2c2d;
    --background-dark: #222223;
    --text: #E6E6E6;
    --accent: #FF75B5;
}

body {
    margin: 0;
    background-color: var(--background);
    color: var(--text);
    font-family: 'Fira Sans', sans-serif;
}

button {
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    font-weight: 500;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-buttons button.selected {
    background-color: purple;
}

.toggle-buttons button:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.toggle-buttons button:last-of-type {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}