#toolbar {
    background-color: var(--background-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    height: 50px;
    box-sizing: border-box;
}