.input-wrapper {
    position: relative;
    border-radius: 0.25rem;
    border: solid 1px transparent;
}

.input-wrapper .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    box-sizing: border-box;
    opacity: 0.5;
    color: var(--fg);
}

.input-wrapper input {
    appearance: none;
    border: 0;
    border-radius: 0.25rem;
    outline: none;
    margin: 0;
    padding: 1rem 1rem 1rem 3.25rem;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: inherit;
    width: 100%;
    color: var(--fg);
    background-color: var(--bg-contrast);
}

.input-wrapper input::placeholder {
    opacity: 0.5;
    color: var(--fg);
}

.input-wrapper input:focus {
    background-color: var(--bg1);
}

/* error */
.input-wrapper.error input::placeholder,
.input-wrapper.error .icon  {
    color: var(--red);
    opacity: 1;
}

/* type="number" */
.input-wrapper > input[type=number]::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.input-wrapper.number .buttons {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
    padding-right: 1rem;
    color: transparent;
}

.input-wrapper > input:focus ~ .buttons {
    color: var(--fg);
}

.input-wrapper.number .buttons > * {
    cursor: pointer;
}

.input-wrapper.number .buttons > *.disabled {
    pointer-events: none;
}
